project_name = "wp-cloud"
environment  = "dev"

vpc_azs              = ["us-east-2a", "us-east-2b", "us-east-2c"]
vpc_public_subnets   = ["10.5.1.0/24", "10.5.2.0/24", "10.5.3.0/24"]
vpc_private_subnets  = ["10.5.101.0/24", "10.5.102.0/24", "10.5.103.0/24"]
vpc_database_subnets = ["10.5.201.0/24", "10.5.202.0/24", "10.5.203.0/24"]

web_server_ami           = "ami-03657b56516ab7912"
web_server_instance_type = "t3.micro"
web_server_key_name      = "jb-ohio"
public_servers_count     = 0

asg_desired_capacity = 3
asg_min_size         = 1
asg_max_size         = 9

db_user       = "admin"
db_pass       = "<put pass here>"
db_main_id    = "wpc-dev-main"
db_replica_id = "wpc-dev-replica"

rds_main_enabled          = false
rds_replica_enabled       = false

aurora_serverless_enabled = false
aurora_serverless_min     = 1
aurora_serverless_max     = 2
aurora_serverless_timeout = 300

dns_zone = "johnblanford.guru"
